<div class='card'>
  <div class='card-body'>
    {{#with heading}}
      <div class='card'>
        <div class='card-body'>
          {{#with main}}
            <h1>{{title}}</h1>
            <p>{{text}}</p>
            {{#with button_text}}
              <div
                class='btn btn-primary'
              >{{solid}}</div><br /><br />
              <div
                class='btn btn-outline-primary'
              >{{outline}}</div>
            {{/with}}
          {{/with}}
        </div>
      </div>
      <br />
      <div class='card'>
        <div class='card-body'>
          {{#with second}}
            <h2>{{title}}</h2>
            <p>{{text}}</p>
            {{#with button_text}}
              <div
                class='btn btn-secondary'
              >{{solid}}</div><br /><br />
              <div
                class='btn btn-outline-secondary'
              >{{outline}}</div>
            {{/with}}
          {{/with}}
        </div>
      </div>
      <br />
      <div class='card'>
        <div class='card-body'>
          {{#with subblock}}
            <h3>{{title}}</h3>
            <p>{{text}}</p>
            {{#with button_text}}
              <div class='btn btn-dark'>{{solid}}</div><br
              /><br />
              <div
                class='btn btn-outline-dark'
              >{{outline}}</div>
            {{/with}}
          {{/with}}
        </div>
      </div>
    {{/with}}
    <br />
    {{#with nested_display}}
      <div class='card'>
        <div class='card-body'>
          <div class='display-1'>{{title}}</div>

          <div class='card'>
            <div class='card-body'>
              {{#with children_display}}
                <div class='display-4'>{{title}}</div>
                <p>{{text}}</p>
                {{#with button}}
                  <div
                    class='btn btn-outline-warning'
                  >{{text}}</div>
                {{/with}}
              {{/with}}
            </div>
          </div>
          <br />
          <h6>{{header_text}}</h6>
          <br />
          {{#with button}}
            <div class='btn btn-info'>{{text}}</div>
          {{/with}}
        </div>
      </div>
      <br />
    {{/with}}
    <div class='card'>
      <div class='card-body'>
        {{#with paragraph}}
          <p class='text-uppercase'>{{title}}</p>
          <p class='text-lowercase'>{{text}}</p>

          {{#with button}}
            <a
              href='{{url}}'
              class='btn btn-link'
            >{{text}}</a>
          {{/with}}

          <div class='card'>
            <div class='card-body'>
              {{#each list_name}}
                <ul>
                  <li><a
                      href='{{url}}'
                      class='btn btn-link'
                    >{{text}}</a></li>
                </ul>
              {{/each}}
            </div>
          </div>
        {{/with}}
      </div>
    </div>

  </div>
</div>